.container {
    flex-direction: column;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.imageContainer {
    display: flex;
    height: 95px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.separator {
    border: 2px solid var(--color-separator);
}

.activateLink {
    color: var(--color-blue);
}

.avatarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.text {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: var(--color-gray);
    margin-top: 10px;
}