.iconContainer:hover {
    cursor: pointer;
}

.iconContainer:hover .icon path {
    fill: var(--color-blue);
}

.icon path {
    fill: var(--color-gray);
}

.cardContainer {
    height: 256px;
    width: 288px;
    background: var(--color-white);
    box-shadow: 0px 2px 20px 4px rgba(41, 55, 74, 0.08);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    margin-bottom: 32px;
}

.cardContainer:hover {
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
}

.decorationNone {
    text-decoration: none !important;
}