.container {
    position: relative;
}

.img {
    padding-right: 20px;
}

.textWrapper {
    justify-content: space-between;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

.opacityBtn {
    opacity: 0;
}

.title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black-gray);
}

.description {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-gray);
}