.container {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.container:hover {
    cursor: pointer;
    background-color: var(--color-hover);
}

.container:hover path {
    fill: var(--color-blue);
}

.image {
    padding-right: 12px;
    padding-left: 18px;
    display: flex;
}

.text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-gray);
}