@import "./resources/fonts/inter.css";

:root {
  --color-blue: #4B00FF;
  --color-gray: #8A9AA8;
  --color-black-gray: #475B6B;
  --color-border: #E0EEFF;
  --color-white: #FFFFFF;
  --color-background: #F2F2F2;
  --color-separator: #F0F5FA;
  --color-black: #001C33;
  --color-draft: #FEF9E6;
  --color-published: #E7FFE6;
  --color-deleted: #F2A8A8;
  --color-archived: #FBE79C;
  --color-hover: #F5F5FF;
  --color-click: #E0E9FF;
}

body {
  margin: 0;
  font-family: Inter !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
